<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Jot Down{{/block}}</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <style>
   .topics {width:20%;position:fixed;top:0;left:0;height:100%;overflow:auto;background-color: aliceblue;}
   .labels {width:20%;position:fixed;top:0;right:0;height:100%;overflow:auto;background-color: antiquewhite;}
   .content {width:60%;margin:auto;}
   body { background-color: #EBEFF2; user-select:none;font-family: "Trebuchet MS", Helvetica, sans-serif;}
   textarea {height: auto !important; resize: none;
 
    border: 0 none white;    
    padding: 0;
    outline: none;
    background-color: #D0D0D0;

   }
   li {list-style-type: none;}
   .vr-round {font-family: 'Varela Round', sans-serif;}
   /* width */
   ::-webkit-scrollbar {  width: 5px;}
   /* Track */
   ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px yellow; 
   border-radius: 10px;
  }
 
   /* Handle */
   ::-webkit-scrollbar-thumb {
      background: #5cb85c; 
       border-radius: 10px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {   background: #5cb85c; }
   
 
   </style>
</head>
<body>

   <!-- Topic filters -->
 <div class="topics">
    <div class="vr-round bg-dark text-white font-weight-bolder p-2 mb-1 sticky-top">Topics</div>
    <div class="px-2 pt-3">
       <ul>
       {{#each topics}}
       <li class="p-1 mb-1"> <a href="/topics/{{topic}}" class="text-dark font-weight-bolder">{{topic}}</a> </li>
       {{/each}}
    </ul>
    </div>
 </div>

 <div class="content p-3">
  <div class="container">

     <!-- Add new Jote -->
     <div class="mb-3">
        <form action="jotes/new" method="POST">
         
         <div class="input-group mb-2">
            <div class="input-group-prepend">
                <button class="btn btn-success text-white font-weight-bolder">Topic</button>
             </div>
            <select name="topic" id="topic" class="custom-select">
               {{#each topics}}

                  {{#if active}}
                  <option value="{{topic}}"  selected>{{topic}}</option>
                  {{else}}
                   <option value="{{topic}}">{{topic}}</option>
                  {{/if}}

               {{/each}}
            </select>
         </div>

          <div class="form-group mb-2">
             <input 
             type="text" name="label" id="label" value="{{label}}"
             class="form-control"
             placeholder="type tag...">
          </div>

          <div class="input-group mb-2">             
             <textarea rows="5"
              name="content" id="content" 
             class="form-control"
             placeholder="type body.."></textarea>
             <div class="input-group-append">
                <button type="submit" class="btn btn-success text-white font-weight-bolder p-3">Add</button>
             </div>
          </div>

        </form>
     </div>
  
    <!-- Display Jotes -->
    {{#each jotes}}
    <div class="card shadow-sm bg-white mb-2 border-0">
      
      <div class="card-body p-2 border-0">
         <div class="card-title">{{topic}}</div>
         <div class="card-text">{{content}}</div>
      </div>
      <div class="card-footer p-1 border-0">{{label}}</div>
    </div>
    {{/each}}

  </div>
 </div>

 <!-- Topic label filters -->
  <div class="labels">
     <div class="p-2">
        <form action="topics/new" method="POST" class="mb-3">
    <div class="input-group">       
       <input type="text" name="topic" id="topic" class="form-control" placeholder="type topic...">
       <div class="input-group-append">
                <button type="submit" class="btn btn-success text-white font-weight-bolder">Add Topic </button>
       </div>
    </div>
    </form>
     </div>

    <div class="vr-round bg-dark text-white font-weight-bolder p-2 mb-1 sticky-top">
       {{filtered_topic}} Tags</div>

     <div class="px-2">
        <ul>
       {{#each labels}}
       <li class="p-1 mb-1"> <a href="topics/{{filtered_topic}}/labels/{{label}}" 
       class="text-dark font-weight-bolder">{{label}}</a> </li>
       {{/each}}
    </ul>
     </div>
   </div>

</body>
<script>
   $(function(){
      var txt = document.getElementById("content");
      txt.addEventListener("input", function(e){
         //input captured even copy pasting. mot keypress or change!!!!!
         

         //var code = (e.keyCode ? e.keyCode : e.which);
         //if(code==13){
                     
             txt.style.height = 'auto';          
             txt.rows = txt.scrollHeight ==132 ? 5: 5 + (txt.scrollHeight-132)/24;
         //}
      
       });      
   });
</script>
</html>